.main-display {
  background-color: #f0f2f5;
  display: flex;
}

.container {
  width: 100%;
  padding: 10px;
}

.layout {
  background-color: #fff;
  border-radius: 16px;
  margin: 10px;
}

.navbar {
  background-color: #fff;
  width: 20vw;
  height: 100vh;
}

.contents-areas {
  display: flex;
}

.profile,
.members {
  width: 400px;
}

.right-contents-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.right-bottom-area {
  display: flex;
}

.todo-list {
  width: 528px;
}

.dayoff-areas {
  width: 640px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.Mui-selected {
  background-color: #1c92ff !important ;
}
